<main class="login-page">
  <div class="login-page__container">
    <div class="login-page__header">
      <a href="/login" class="button_fill">Вход</a>
      <a href="/register" data-page="register" class="button_outline">Регистрация</a>
    </div>
    <form class="login-page__form">
      <div class="login-page__input-group">
        {{{loginForm}}} 
      </div>
      <button id="login-submit" type="button" data-page="chat" class="button_main">Войти</button>
    </form>
  </div>
</main>
