<main class="login-page">
  <div class="login-page__container">
    <div class="login-page__header">
      <a href="/login" class="button_fill">Вход</a>
      <a href="/register" class="button_outline">Регистрация</a>
    </div>
    <form class="login-page__form">
      <div class="login-page__input-group">
        <label for="login" class="login-page__label">Логин</label>
        <input type="text" id="login" name="login" class="login-page__input" value="ivanivanov">
      </div>
      <div class="login-page__input-group">
        <label for="password" class="login-page__label">Пароль</label>
        <input type="password" id="password" name="password" class="login-page__input" value="••••••••••">
      </div>
      <button type="submit" class="login-page__button">Войти</button>
    </form>
  </div>
</main>