<div class="chat-list">
    {{#if isSearchShown}}
        {{{searchChat}}}
    {{/if}}
    <div class="chat-list__items">
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </div>
</div>
