@use '@styles/variables' as *;
@use '@styles/components' as *;

.chat-list {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   
   overflow: auto;

   &__items {
      @extend .wrapper;
      flex: 1;
      overflow: auto;
      padding: 0;
   }
}
