<main class="profile-page">
    <div class="profile-page__sidebar">
        {{{chatList}}}
    </div>
    <div class="profile-page__main">
        <div class="profile-page__main__placeholder">
            Профиль
        </div>
    </div>
</main>