.wrapper {
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: var(--color-info-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
}

.button_fill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: var(--color-info-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;

    background-color: var(--color-background);
}

.button_outline {
        width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: var(--color-info-text);
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    
    background-color: transparent;
    border: 1px solid;
    border-color: var(--color-info-text);
}