@use '@styles/variables' as *;

.wrapper {
    background-color: $color-background;
    border-radius: $border-radius;
    padding: 1rem;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: $color-info-text;
    border-radius: $border-radius;
    cursor: pointer;
    text-decoration: none;
}

.button_fill {
    @extend .button;
    background-color: $color-background;
}

.button_outline {
    @extend .button;
    background-color: transparent;
    border: 1px solid;
    border-color: $color-info-text;
}