$border-radius: 0.5rem;

$color-blue: #007aff;

$color-background-main: #2A2A2A;
$color-background: #414647;
$color-background-blue: #A3B1BF;
$color-background-gray: #4F5354;

$color-info-text: #BABABA;
$color-dark-text: #565B61;

$text-bold: 700;
