$border-radius: 0.5rem;

$color-blue: #007aff;

$color-background-main: #2a2a2a;
$color-background: #414647;
$color-background-blue: #a3b1bf;
$color-background-gray: #4f5354;

$color-info-text: #bababa;
$color-dark-text: #565b61;

$text-bold: 700;
