<main class="error">
    <div class="error__container">
        <h1 class="error__container__title">{{errorCode}}</h1>
        <p class="error__container__description">{{errorMessage}}</p>
        <button class="button_dark" data-page="chat">К чатам</button>
    </div>
</main>